html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.coucou {
  crimsonRed: #DC143C;      
  royalBlue: #4169E1;       
  emeraldGreen: #50C878;    
  goldenYellow: #FFD700;    
  purpleViolet: #9370DB;   
  turquoise: #40E0D0;     
  coral: #FF7F50;           
  lime: #32CD32;            
  hotPink: #FF69B4;         
  orange: #FFA500;          
  skyBlue: #87CEEB;        
  springGreen: #00FF7F;
}